<section id="first-section">
    <div class="data">
        <h3>Lorem <span class="underline">ipsum dolor</span> sit amet</h3>
        <p>consectetur adipiscing elit. Nam lectus metus, facilisis eget velit ut, tincidunt blandit felis. Nunc scelerisque pulvinar erat nec commodo. Nam commodo ipsum nec velit pellentesque cursus.</p>
    </div>
    <div class="form">
        <form action="">
           
                <div class="field-wrapper">
                    <input type="text" name="name" id="name" />
                    <label for="name">Name</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="email" id="email" />
                    <label for="email">Email</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="phone" id="phone" />
                    <label for="phone">Phone Number</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="city" id="city" />
                    <label for="city">City</label>
                </div>
                <div class="field-wrapper">
                    <textarea name="" id="textArea"></textarea>
                    <label for="textArea">Message</label>
                </div>

                <button type="submit" class="btn primary">Send</button>
           
        </form>
    </div>
</section>


<section id="third-section">
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="./images/bgslider.jpg" alt="background slider">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>consectetur adipiscing elit. Nam lectus metus, facilisis eget velit ut, tincidunt blandit felis. Nunc scelerisque pulvinar erat nec commodo. Nam commodo ipsum nec velit pellentesque cursus.</p>
            </div>
            <div class="swiper-slide">
                <img src="./images/bgslider2.jpg" alt="background slider">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>consectetur adipiscing elit. Nam lectus metus, facilisis eget velit ut, tincidunt blandit felis. Nunc scelerisque pulvinar erat nec commodo. Nam commodo ipsum nec velit pellentesque cursus.</p>
            </div>
            <div class="swiper-slide">
                <img src="./images/bgslider3.jpg" alt="background slider">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>consectetur adipiscing elit. Nam lectus metus, facilisis eget velit ut, tincidunt blandit felis. Nunc scelerisque pulvinar erat nec commodo. Nam commodo ipsum nec velit pellentesque cursus.</p>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <!--
        <div class="swiper-scrollbar"></div>
        -->
    </div>
</section>