<app-navbar></app-navbar>
<section id="user-signup">
    <div class="data">
        <h3>Registro <span class="underline">de</span> usuario</h3>
    </div>
    <div class="form">
        <form target="_blank" [formGroup] = "registerForm">
           
                <div class="field-wrapper">
                    <input type="text" name="name" id="userName" formControlName = "name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors?.['required']">El nombre es obligatorio.</div>
                    </div>
                    <label for="userName">Nombre</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="lastname" id="userLastname" formControlName = "lastName">
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                        <div *ngIf="lastName.errors?.['required']">El nombre es obligatorio.</div>
                    </div>
                    <label for="userLastname">Apellido</label>
                </div>
                <div class="field-wrapper">
                    <input type="email" name="email" id="userEmail" formControlName = "email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">El email es obligatorio.</div>
                        <div *ngIf="email.errors?.['email']">
                            El email ingresado es invalido.
                        </div>
                    </div>
                    <label for="userEmail">Email</label>
                </div>
                <div class="field-wrapper">
                    <input type="text" name="pass" id="userPass" formControlName = "passWord">
                    <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="alert alert-danger">
                        <div *ngIf="passWord.errors?.['required']">La contraseña es obligatoria.</div>
                        <div *ngIf="passWord.errors?.['minlength']">
                            La contraseña tiene que tener minimo {{minLength}} caracteres
                        </div>
                    </div>
                    <label for="userPass">Contraseña</label>
                </div>

                <button type="button" class="btn primary" (click)="addUser()">Registrarme</button>
              
          
        </form>
        
    </div>
</section>