#user-profile {
    min-height: 100vh;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-profile>.form {
    width: 100%;
    padding: 2rem;
}

.form input {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

.form input:focus-visible {
    outline: none;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:focus {
    background: transparent!important;
}

.field-wrapper {
    position: relative;
    margin-bottom: 1rem;
}

.field-wrapper label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 0.75rem;
    position: absolute;
    top: -7px;
    left: 1rem;
    background-color: #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    transition: .5s ease-in-out;
}

.btn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.83rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: .35s ease-in-out;
}


.btn.primary:hover {
    background-color: #406b89;
    color: #fff;
}


.btn.primary {
    background-color: #000;
    color: #fff;
}

#user-profile>.form>h3 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    text-transform: uppercase;
}

#user-profile>.form>p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
}

.user-libraries {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid;
}

.user-libraries>h3 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.user-libraries a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1rem;
}

.user-delete {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid;
    padding-top: 2rem;
}

.btn.delete {
    display: block;
    width: 100%;
    background: #b73f3f;
    color: #fff;
}

.btn.disabled {
    background-color: #a1a1a1;
    color: #000;
    cursor: auto;
}