<section id="user-signup">
    <div class="data">
        <h3>Lorem <span class="underline">ipsum dolor</span> sit amet</h3>
    </div>
    <div class="form">
        <form target="_blank">

                <div class="field-wrapper">
                    <input type="email" name="email" id="userEmail" [(ngModel)]="userEmail">
                    <label for="userEmail">Email</label>
                </div>

                <div class="field-wrapper">
                    <input type="text" name="pass" id="userPass" [(ngModel)]="userPass">
                    <label for="userPass">Contraseña</label>
                </div>

                <button type="button" class="btn primary" (click)="verifyUser()">Iniciar Sesion</button>
                <button type="button" class="btn primary" (click)="onLogout()">Cerrar sesion</button>
        </form>
    </div>

    <div #loginresult></div>
</section>
