<section id="get-recipe">


    <div class="form">
        <h3>Completa el formulario y encontra la receta que necesitas</h3>
        <form target="_blank">

            <div class="field-wrapper">
                <select name="food" id="food" multiple [(ngModel)]="food" class="s-multiple">
                    <option value="desayuno">Desayuno</option>
                    <option value="almuerzo">Almuerzo</option>
                    <option value="merienda">Merienda</option>
                    <option value="cena">Cena</option>
                </select>
                <label for="food">Tipo de comida</label>
            </div>
            <div class="field-wrapper">
                <input type="number" name="maxCalories" id="maxCalories" [(ngModel)]="maxCalories">
                <label for="maxCalories">Calorias maximas</label>
            </div>
            <div class="field-wrapper">
                <select name="objetives" id="objetives" multiple [(ngModel)]="objetives" class="s-multiple-objetives">
                    <option value="perder peso">Perder peso</option>
                    <option value="ganar musculatura">Ganar musculatura</option>
                    <option value="mejorar resistencia">Mejorar resistencia</option>
                    <option value="ganar flexibilidad">Ganar flexibilidad</option>
                    <option value="mejorar equilibrio y coordinacion">Mejorar equilibrio y coordinación</option>
                </select>
                <label for="objetives">Objetivos</label>
            </div>
            <div class="field-wrapper">
                <select name="foodLimits" id="foodLimits" multiple [(ngModel)]="foodLimits" class="s-multiple-limits">
                    <option value="celiaco">Celiaco</option>
                    <option value="lactosa">Intolerante a la lactosa</option>
                    <option value="diabetico">Diabetico</option>
                    <option value="hipertenso">Hipertenso</option>
                    <option value="vegetariano">Vegetariano</option>
                    <option value="vegano">Vegano</option>
                    <option value="Otros">Otros</option>
                </select>
                <label for="foodLimits">Limitaciones</label>
                <div id="invalid-data" #invalidData>
                    <h5>Tiene que completar los campos para que podamos darle un resultado preciso de lo que requiere
                    </h5>
                </div>

            </div>
            <button type="button" class="btn primary" (click)="createMessage()">Consultar</button>
        </form>
    </div>

    <div class="data" #result>
        <div #queryResult class="query-result"></div>
    </div>
</section>