<!-- <section id="editar-usuario">
    <div #modifyResult></div>
    <div class="form">
        <form target="_blank">

            <div class="field-wrapper">
                <input type="text" name="name" id="userName" [(ngModel)]="userName">
                <label for="userName">Nombre</label>
            </div>
            <div class="field-wrapper">
                <input type="text" name="lastname" id="userLastname" [(ngModel)]="userLastname">
                <label for="userLastname">Apellido</label>
            </div>
            <div class="field-wrapper">
                <input type="email" name="email" id="userEmail" [(ngModel)]="userEmail">
                <label for="userEmail">Email</label>
            </div>
            <div class="field-wrapper">
                <input type="text" name="pass" id="userPass" [(ngModel)]="userPass">
                <label for="userPass">Contraseña</label>
            </div>
            <button type="button" class="btn primary" (click)="editarUsuario()">Modificar</button>
        </form>
        <app-borrar-usuario></app-borrar-usuario>

    </div>
</section>
-->

<div class="form">
    <div #modifyResult class="modify-result"></div>
    <h3 *ngIf = "userLogged">Hola {{userLogged.name}} {{userLogged.lastName}}!</h3>
    <p>A continuacion tus datos, y podras editarlos si lo deseas:</p>
    <form target="_blank" [formGroup] = "editForm">
        <div class="field-wrapper">
            <input type="text" name="name" id="userName" formControlName = "name" [(ngModel)]="userLogged.name" >
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">El nombre es obligatorio.</div>
            </div>
            <label for="userName">Nombre</label>
        </div>
        <div class="field-wrapper">
            <input type="text" name="lastname" id="userLastname" formControlName = "lastName" [(ngModel)]="userLogged.lastName">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div *ngIf="lastName.errors?.['required']">El nombre es obligatorio.</div>
            </div>
            <label for="userLastname">Apellido</label>
        </div>
        <div class="field-wrapper">
            <input type="email" name="email" id="userEmail" formControlName = "email" [(ngModel)]="userLogged.email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors?.['required']">El email es obligatorio.</div>
                <div *ngIf="email.errors?.['email']">
                    El email ingresado es invalido.
                </div>
            </div>
            <label for="userEmail">Email</label>
        </div>
        <div class="field-wrapper">
            <input type="password" name="pass" id="userPass" formControlName = "passWord" [(ngModel)]="userLogged.passWord">
            <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="alert alert-danger">
                <div *ngIf="passWord.errors?.['required']">La contraseña es obligatoria.</div>
                <div *ngIf="passWord.errors?.['minlength']">
                    La contraseña tiene que tener minimo {{minLength}} caracteres
                </div>
            </div>
            <label for="userPass">Contraseña</label>
        </div>
        <p></p>

        <button type="button" class="btn primary" (click)="editarUsuario()">Editar</button>

    </form>
</div>