<app-navbar></app-navbar>
<div>
 <div class="popup-item" #popupItem></div>
  <div class="encabezado">
  <h1>{{ user.bibliotecaRecetas.nombre }}</h1>
  <h2>{{ user.bibliotecaRecetas.descripcion }}</h2>

  <button type="button" (click)="modificarMostrarEditar()" class="edit-biblioteca">Editar</button>

  <app-e-biblioteca-recetas
  
    *ngIf="mostrarEditar"
    [nombreReceta]="user.bibliotecaRecetas.nombre"
    [descripcionReceta]="user.bibliotecaRecetas.descripcion"
    (editarNombreLista)="nombreListaActualizar($event)"
    (editarDescripcionLista)="descripcionListaActualizar($event)"
    ></app-e-biblioteca-recetas>
  </div>
    <div class="row">
      <div class="col">
        <div class="search-wrapper">
          <input type="text" class="form-control search-ip" name="filterPost" placeholder="Buscar..." [(ngModel)]
          ="filterPost">
        </div>
      </div>
    </div>

<div>
  <ul #lista class="lista">
    <li
      *ngFor="let receta of user.bibliotecaRecetas.listaRecetas | filtro:filterPost "
      (click)="mostrarReceta(receta)"
      

    >

      {{ receta.nombre }}

      <button (click)="eliminarReceta(receta)">Eliminar</button>
      
    </li>
    
  </ul>
  <div *ngIf="mostrarVer"
  (click)="modificarMostrarVer()"
  >
 
  <app-ver-receta [recetaActual]="recetaActual"></app-ver-receta>
</div>
</div>
</div>