.encabezado{
    background-color: #406b89;
    padding: 2rem;
}

.encabezado>h1 {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.encabezado>h2 {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
}

.edit-biblioteca {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.83rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .35s ease-in-out;
}

.row {
    margin: 0 2rem 2rem;
    border-bottom: 1px solid #ccc;
  }

  .search-wrapper {
    padding: 2rem 0;
}

.search-wrapper input {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid #8b8b8b;
    background: transparent;
    color: #000;
}

.search-wrapper input:focus {
    outline: none;
}

.lista {
    list-style: none;
    padding: 0 2rem;
    margin: 0;
}

.lista li {
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.lista li button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.83rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .35s ease-in-out;
    background: #c34242;
    color: #fff;
}