.encabezado{
    background-color: #406b89;
    height: 100%;
    width: 100%;
}

.encabezado>h1 {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    color: #fff;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.row {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }