<!--  -->
<!-- <app-borrar-usuario></app-borrar-usuario>-->
<!-- -->


<!--

<app-agregar-rutina></app-agregar-rutina>

<app-inicio></app-inicio>



--> 
<main>
  <!-- The <router-outlet> where the content of routed components is displayed -->
    <app-registro-usuario></app-registro-usuario>
    <app-inicio-sesion></app-inicio-sesion>
  <router-outlet></router-outlet>
</main>
<!-- <router-outlet>
  <app-inicio-sesion></app-inicio-sesion>
</router-outlet> -->
<!-- <app-registro-usuario></app-registro-usuario>
<app-editar-usuario></app-editar-usuario>
<app-biblioteca-recetas></app-biblioteca-recetas> -->



