html {
    font-size: 16px;
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
}


h1 {
    font-family: 'Quicksand', sans-serif;
}


h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}


p, span, div, a, input {
    font-family: 'Quicksand', sans-serif;
}